// OurServices.vue

<template>
   <div>
        <!-- Navigation Component -->
        <Navigation />
        <!-- Navigation Component -->

        <!-- Distribution Page -->
        <!-- BANNER -->
            <!-- <v-banner width="75%" class="banner" elevation=2>
                <v-avatar
                slot="icon"
                color="deep-purple accent-4"
                size="40"
                >
                <img src="../assets/angelwaxlogo.jpg" alt="angelwax">
                </v-avatar>
            Angelwax Academy app will be coming soon!
            <template v-slot:actions>
                Begin Mailchimp Signup Form
            <form action="https://gmail.us5.list-manage.com/subscribe/post?u=e61637d6db05127dc397934f0&amp;id=a4fed4a086" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate notify-email form" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div class="clear"><input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe" class="notify"></div>                
                real people should not fill this in and expect good things - do not remove this or risk form bot signups
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e61637d6db05127dc397934f0_a4fed4a086" tabindex="-1" value=""></div>
            </form>
            </template> 
            </v-banner> --> 
        <!-- BANNER -->




<!--End mc_embed_signup-->

        <div class="first_section">
          <p data-aos="fade-up" data-aos-duration="600" data-aos-delay="500" class="first_section_text">
            Professional grooming is our specialty. We distribute car products and 
            <br>
            offer car grooming services &mdash; from car washing, polishing to detailing.
            <br>
            Z3M delivers professionally groomed and detailed cars while
            <br>
            saving client's valuable time and money. Hassle-free guaranteed.
          </p>
        </div>
        <div data-aos="fade-up" data-aos-duration="600" data-aos-delay="1000" data-aos-once="true" class="onresponsive-only">
            <img src="../assets/academy.png" alt="dist-image"
            width="100%">
          </div>
        <div  class="second_section">
          <div class="second">            
          <div class="second_section_text">
            <h4 data-aos="fade-up" data-aos-delay="1500" data-aos-once="true">ACADEMY</h4>
            <p data-aos="fade-up" data-aos-delay="1700" data-aos-once="true">From the individual to the car enthusiast, Z3M believes that 
            
            education is crucial in ensuring that our customers enjoy a 
            
            best-in-class service in the car grooming industry. Z3M’s detailing 
            
            team is well-trained in the provision of grooming services; some are 
            
            even sent overseas for exchange programmes to further improve 
            
            on their skillsets. To raise the level of knowledge in the industry, 
            
            Z3M is committed to offer training workshops for individuals who 
            
            are interested in joining the car grooming industry as well as for car 
            
            enthusiasts who wish to know more about car grooming and 
            many more.
            </p>
          </div>
          </div>
        </div>


        <div class="third_section_wrapper">
          <div  data-aos="fade-up" data-aos-once="true"  class="timeline desktop-services">
              <img data-aos="fade-up" data-aos-duration="500" data-aos-once="true" class="aca-icons desktop-icon" src="../assets/icons/Prof.png"  width="150px" alt="Prof">
              <div class="container right">
                <div class="content">
              <img data-aos="fade-up" data-aos-duration="500" data-aos-once="true" class="aca-icons responsive-icon" src="../assets/icons/Prof.png"  width="150px" alt="Prof">
                  <h3 data-aos="fade-up" data-aos-duration="500" data-aos-once="true" class="aca-subhead"> Professionalism</h3>
                  <p data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Our staff are highly trained in the provision of 
                grooming services in the automotive industry. 
                Most have a minimum of 3 years grooming 
                experience for detailers and car wash personnel. 
                </p>
                </div>
              </div>
              <img data-aos="fade-up" data-aos-duration="500" data-aos-once="true"  class="aca-icons desktop-icon" src="../assets/icons/OT.png"  width="150px" alt="OT">
              <div class="container right">
                <div class="content">
              <img data-aos="fade-up" data-aos-duration="500" data-aos-once="true" class="aca-icons responsive-icon" src="../assets/icons/OT.png"  width="150px" alt="OT">
                  <h3 data-aos="fade-up" data-aos-duration="500" data-aos-delay="500"  data-aos-once="true" class="aca-subhead">Overseas Training  </h3>
                  <p data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" >Some of our staffs are sent overseas for exchange 
                    programs to further their skillsets. </p>
                </div>
              </div>
          </div>

            <div data-aos="fade-up" data-aos-once="true" class="responsive-services">
              <div class=" right">
                <div class="content">
              <img  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="aca-icons responsive-icon" src="../assets/icons/Prof.png"  width="80px" alt="Prof">
                  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="500" class="aca-subhead"> Professionalism</h3>
                  <p data-aos="fade-up" data-aos-duration="1000"  data-aos-once="true" data-aos-delay="500">Our staff are highly trained in the provision of 
                grooming services in the automotive industry. 
                Most have a minimum of 3 years grooming 
                experience for detailers and car wash personnel. 
                </p>
                </div>
              </div>
              <div class=" right">
                <div class="content">
              <img data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="aca-icons responsive-icon" src="../assets/icons/OT.png"  width="80px" alt="OT">
                  <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" class="aca-subhead">Overseas Training  </h3>
                  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" >Some of our staffs are sent overseas for exchange 
                    programs to further their skillsets. </p>
                </div>
              </div>
          </div>
        </div>
        <!-- pop up modal -->
        <div v-if="modalTriggers">
          <div class="modal">
            <div class="modal-inner">
              <form action="https://send.pageclip.co/x7NgZSBQru20HQwlLOWK3NJdZhL1rzFH/subs" class="pageclip-form modal-content" method="post">
                <h4 class="modal-header">Hi! Angelwax Academy app will be coming soon!</h4>
                <div class="modal-email">
                  <div class="mc-field-group">
                    <input type="email" value="" v-model="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email here..." required>
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    <br>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                </div>
                <input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe"  :disabled="email.length === 0" class="modal-button modal-button-disabled" v-bind:class="{ 'modal-button-active': email.length > 0 }">
              </form>
              <div class="modal-close" @click.stop="modalTriggers = !modalTriggers">
                  <span>x</span>
              </div>
            </div>
          </div>
        </div>
    

        <!-- Distribution Page -->

        <!-- Footer Component -->
        <Footer />
        <!-- Footer Component -->

  </div>
</template>

<script>
import Navigation from './Navigation'
import Footer from './Footer'

  export default {
    data:() => {
      let modalTriggers = false
       return {
        modalTriggers,
        email: '',
        countDown: 4000

       }
    },
    name:'app',
    components: {
      Navigation,
      Footer,
    },
    mounted() {
      // enable when using mailchimp popup
      //  this.setupMailchimpPopup() 

      //
      setTimeout(() => this.modalTriggers = !this.modalTriggers, this.countDown)
    },
    methods:{
          setupMailchimpPopup () {
          var mailchimpConfig = {
              baseUrl: 'z3m.us21.list-manage.com',
              uuid: 'b5f146bd5e4de634dfe97760c',
              lid: '5a8424fc6c'
          };
          // No edits below this line are required
          var chimpPopupLoader = document.createElement("script");
          chimpPopupLoader.src = '//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js';
          chimpPopupLoader.setAttribute('data-dojo-config', 'usePlainJson: true, isDebug: false');
          var chimpPopup = document.createElement("script");
          chimpPopup.appendChild(document.createTextNode('require(["mojo/signup-forms/Loader"], function (L) { L.start({"baseUrl": "' +  mailchimpConfig.baseUrl + '", "uuid": "' + mailchimpConfig.uuid + '", "lid": "' + mailchimpConfig.lid + '"})});'));
          
          chimpPopupLoader.onload = function() {
            document.body.appendChild(chimpPopup);
          }
          document.body.appendChild(chimpPopupLoader);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.form{
    width: 100%
}

.email{
    float: left;
}
.notify{
    color: white;
    background: #1a1919;
    float: right;
}
.banner{
    margin: auto;
    margin-top: 50px;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.first_section{
  min-height: 250px;
  background-color:white
}

.first_section_text{
  text-align: center;
  margin: auto;
  font-size: 1.5em;
  padding: 60px 0;
  margin-bottom: 0;
}

.second_section{
  background-image: url('../assets/academy.png');
  background-size: 50% 100%;
  background-position: right;
  background-color: #c2baba;

}
.second{
  width: 80%;
  margin: auto
}
.second_section_text{
  width: 42%;
  color: white;
  font-size: 1.2em;
  padding: 80px 0
}

.second_section_text > h4{
  color: white;
  font-size: 2em;
  font-weight: bold
}


.third_section_wrapper{
  padding: 100px 0;
  min-height: 500px;
  box-sizing: border-box;

}

.aca-icons{
  float: left;
  margin-left: 200px;
  margin-top:25px
}

* {
  box-sizing: border-box;
}

.aca-subhead{
  color: #c2baba;
  font-weight: bold
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin:  auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 8px;
  background-color: #c2baba;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #c2baba;
  border: 4px solid #c2baba;
  top: 75px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 30%;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -71px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.responsive-icon{
  display: none
}

.responsive-services{
    display: none
}

 .onresponsive-only{
   display: none
  }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.modal-inner {
    background: white;
    padding: 30px;
    flex-basis: 100%;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
}

.modal-email {
  width:40%
}

.modal-header {
  margin-bottom: 16px; 
  width: 40%;
}

.modal-button{
  color: white; 
}

.modal-button-disabled{
  border: 1px solid gray; 
  background: gray; 
}
.modal-button-active{
  border: 1px solid #184A8F; 
  background: #184A8F; 
}

@media screen and (max-width: 1024px) {
    

     .onresponsive-only{
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    margin-bottom: -10px
  }
  /* Container around content */
.container {
  padding: 10px 60px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #c2baba;
  border: 4px solid #c2baba;
  top: 75px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 25%;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

.aca-icons{
  float: left;
  margin-left: 200px;
  margin-top:15px
}
    .first_section_text {
  width: 60%;
  margin: auto;
  font-size: 1.1em;
  padding: 50px 0;
}

    .second_section_text {
  width: 60%;
  margin: auto;
  font-size: 1.1em;
  padding: 50px 0;
  text-align: center
}

.second_section{
  background-image: none;
  background-size: 800px 550px;
  background-position: right;
 background-color:  #c2baba;
}
}

@media screen and (max-width: 800px) {
.desktop-icon{
  display: none
}
  .responsive-icon{
  display: block
}

.desktop-services{
  display: none
}

.responsive-services{
  display: block;
  text-align: center
}
    .first_section_text {
  width: 60%;
  margin: auto;
  font-size: 1.1em;
  padding: 50px 0;
}

.aca-icons{
  float: unset;
  margin-right: 0;
  margin-top:0;
  margin: auto;
  text-align: center
}

    .second_section_text {
  width: 80%;
  margin: auto;
  font-size: 1.1em;
  padding: 50px 0;
  text-align: center
}

.second_section{
  background-image: none;
  background-size: 800px 550px;
  background-position: right;
 background-color:  #c2baba;

}



  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 19px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

  .modal-content {
  align-items: start;
  flex-direction: column;
  }

  .modal-email {
  width:100%
  }

  .modal-header {
  width: 100%;
  }
}
</style>