// ContactUs.vue

<template>
   <div>
        <!-- Navigation Component -->
        <Navigation />
        <!-- Navigation Component -->

        <!-- Contact Page -->
        <div class="contactus">
          <div class="contactus-wrapper">
            <v-row no-gutters>
              <v-col>
                <div class="sayhello-wrapper">
                  <h4 data-aos="fade-up" data-aos-duration="1000" class="sayhello-label">Say Hello!</h4>
                  <p data-aos="fade-right" data-aos-duration="1800" data-aos-delay="1000" class="sayhello-text">Message us via contact form or email.<br/><br/></p>
                  <v-row no-gutters>
                    <p data-aos="fade-right" data-aos-duration="2600" data-aos-delay="1400" class="sayhello-text"><v-icon class="icons">mdi-map-marker</v-icon>Z3M Pte Ltd, Ubi Rd 4, Singapore 408607</p>
                  </v-row>
                  <v-row no-gutters>
                    <p data-aos="fade-right" data-aos-duration="3400" data-aos-delay="2000" class="sayhello-text"><v-icon class="icons">mdi-phone</v-icon>+65 8484 7701</p>
                  </v-row>
                  <v-row no-gutters>
                    <p  data-aos="fade-right" data-aos-duration="4200" data-aos-delay="2400" class="sayhello-text"><v-icon class="icons">mdi-email</v-icon>admin@angelwaxasia.com</p>
                  </v-row>
                </div>
              </v-col>
              <v-col>
                <div data-aos="fade-up" data-aos-duration="1000" class="contactform-wrapper">
                  <form action="https://send.pageclip.co/q0308tndE6A94sS8nWTV4lJaWsNZa2qi/contact-form" class="pageclip-form" method="post">
                    <input type="text" name="name" value="" placeholder="Name" required />
                    <input type="email" name="email" value="" placeholder="Email" required />
                    <input type="text" name="subject" value="" placeholder="Subject" required />
                    <textarea class="body-message" name="body" placeholder="Your message..." required></textarea>

                    <v-btn rounded color="#194a8d" class="button-text" dark type="submit">SUBMIT</v-btn>
                  </form>
                </div>
              </v-col>
            </v-row>
          </div>
        </div>

        <div class="contactus_5">
          <v-row no-gutters>
            <v-col>
              <div class="sayhello-wrapper">
                <h4 data-aos="fade-up" data-aos-duration="1000" class="sayhello-label">Say Hello!</h4>
                <p data-aos="fade-right" data-aos-duration="1800" data-aos-delay="1000" class="sayhello-text">Message us via contact form or email.<br/><br/></p>
                <v-row no-gutters>
                  <p data-aos="fade-right" data-aos-duration="2600" data-aos-delay="1400" class="sayhello-text"><v-icon class="icons">mdi-map-marker</v-icon>Z3M Pte Ltd, 1 Ubi Rd 4, Singapore 408607</p>
                </v-row>
                <v-row no-gutters>
                  <p data-aos="fade-right" data-aos-duration="3400" data-aos-delay="2000" class="sayhello-text"><v-icon class="icons">mdi-phone</v-icon>+65 8484 7701</p>
                </v-row>
                <v-row no-gutters>
                  <p data-aos="fade-right" data-aos-duration="4200" data-aos-delay="2400" class="sayhello-text"><v-icon class="icons">mdi-email</v-icon>admin@angelwaxasia.com</p>
                </v-row>
              </div>
            </v-col>
          </v-row>

          <v-row no-gutters >
            <v-col>
              <div class="contactform-wrapper">
                <form action="https://send.pageclip.co/q0308tndE6A94sS8nWTV4lJaWsNZa2qi/contact-form" class="pageclip-form" method="post">
                  <input type="text" name="name" value="Name" required />
                  <input type="email" name="email" value="Email" required />
                  <input type="text" name="subject" value="Subject" required />
                  <textarea class="body-message" name="body" required >Your message...</textarea>

                  <v-btn rounded color="#194a8d" class="button-text" dark type="submit">SUBMIT</v-btn>
                </form>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- Contact Page -->

        <!-- Footer Component -->
        <Footer />
        <!-- Footer Component -->

  </div>
</template>

<script>
import Navigation from './Navigation'
import Footer from './Footer'

  export default {
    name:'app',
    components: {
      Navigation,
      Footer

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contactus  {
  background-color: white;
}
.contactus_5{
  background-color: white;
}
.contactus-wrapper {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 110px;
}
.sayhello-wrapper {
  margin: 0;
  padding-left: 100px;
}
.contactform-wrapper {
  padding-top: 40px;
  margin: 0;
  padding-right: 100px;
}
.sayhello-label {
  font-size: 80px;
  padding: 0;
  margin: 0;
}
.sayhello-text {
  width: 100%;
  font-size: 0.9em;
  padding-top: 20px;
  margin: auto;
}

.contactus_5{
  display: none
}

.body-message{
   border: 1px solid #dedede;
   height: 100px;
}

@media screen and  (max-width:1280px) {

.contactus{
  display: none;
}
.contactus_5{
  display: block;
  text-align: center;
}
.sayhello-wrapper{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  width:90%;
  margin: auto
}
.contactform-wrapper{
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  width:90%;
  margin: auto
}

.sayhello-label {
  font-size: 3em;
  padding: 0;
  margin: 0;
}
.sayhello-text {
  width: 100%;
  font-size: 0.9em;
  padding-top: 20px;
  margin: auto;
}

}
</style>