<template>
    <div>
    <div class="footer-background">
    <footer class="footer">
        <div class="footer-main">
          <v-row no-gutters>
            <v-col xs="5" class="footer_about">
              <h5>About Z3M PTE LTD</h5>
              <p>As a premier car grooming company based in Singapore since 2014, Z3M Pte Ltd is a one-stop solution for large scale car washing projects for B2Bs to professional grooming for retail customers.</p>
            </v-col>

           <v-col xs="2" lg="1" class="footer_services">
              <!--
              <h5>SERVICES</h5>
              <ul class="footer-serv-list">
                <li class="footer-serv-item">Services 1</li>
                <li class="footer-serv-item">Services 2</li>
                <li class="footer-serv-item">Services 3</li>
                <li class="footer-serv-item">Services 4</li>
                <li class="footer-serv-item">Services 5</li>
              </ul>
            -->

            </v-col>

            <v-col xs="5"  lg="2" class="footer_connect">
               <!--
              <h5>CONNECT WITH US</h5>
             <v-icon dark class="icons">mdi-facebook</v-icon>
             <v-icon dark class="icons">mdi-twitter</v-icon>
             <v-icon dark class="icons">mdi-youtube</v-icon>
            -->

            </v-col>

            <v-col xs="5" class="footer_loc">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="90%" height="260" id="gmap_canvas" 
                                src="https://maps.google.com/maps?q=1%20Ubi%20Rd%204%2C%20Singapore%20408607&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                                frameborder="0" 
                                scrolling="no" 
                                marginheight="0" 
                                marginwidth="0">
                        </iframe>
                    </div>
                </div>
            </v-col>

            <v-col xs="5" class="footer_contact">
              <h5>SAY HELLO!</h5>
              <p>If you have any concerns about cars, Angelwax, or if your are willing to learn or want to be a professional groomer, contact us now!</p>
              <v-btn rounded color="#194a8d" class="contact-button-text" dark href="/contact">CONTACT US</v-btn>
            </v-col>
          </v-row>
        </div>
        <div class="footer-bottom">
            <hr>
          <div class="footer-copyright">© 2019 Z3M PTE LTD. All rights reserved.</div>
        </div>
    </footer>
    </div>

    <!--RESPONSIVE-->

        <div class="footer-backgroundResponsive">
    <footer class="footer">
        <div class="footer-main">
          <v-row no-gutters>
            <v-col xs="5" class="footer_about">
              <h5>About Z3M PTE LTD</h5>
              <p>As a premier car grooming company based in Singapore since 2014, Z3M Pte Ltd is a one-stop solution for large scale car washing projects for B2Bs to professional grooming for retail customers.</p>
            </v-col>
          </v-row>


           <!-- <v-col xs="2" lg="1" class="footer_services">
              <h5>SERVICES</h5>
              <ul class="footer-serv-list">
                <li class="footer-serv-item">Services 1</li>
                <li class="footer-serv-item">Services 2</li>
                <li class="footer-serv-item">Services 3</li>
                <li class="footer-serv-item">Services 4</li>
                <li class="footer-serv-item">Services 5</li>
              </ul>
            </v-col>

            <v-col xs="5"  lg="2" class="footer_connect">
              <h5>CONNECT WITH US</h5>
             <v-icon dark class="icons">mdi-facebook</v-icon>
             <v-icon dark class="icons">mdi-twitter</v-icon>
             <v-icon dark class="icons">mdi-youtube</v-icon>
            </v-col>
            -->
           <v-row no-gutters>
            <v-col xs="5" class="footer_loc">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="90%" height="260" id="gmap_canvas" 
                                src="https://maps.google.com/maps?q=1%20Ubi%20Rd%204%2C%20Singapore%20408607&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                                frameborder="0" 
                                scrolling="no" 
                                marginheight="0" 
                                marginwidth="0">
                        </iframe>
                    </div>
                </div>
            </v-col>
          </v-row>

           <v-row no-gutters>

            <v-col xs="5" class="footer_contact">
              <h5>SAY HELLO!</h5>
              <p>If you have any concerns about cars, Angelwax, or if your are willing to learn or want to be a professional groomer, contact us now!</p>
              <v-btn rounded color="#194a8d" class="contact-button-text" dark href="/contact">CONTACT US</v-btn>
            </v-col>
          </v-row>
        </div>
        <div class="footer-bottom">
            <hr>
          <div class="footer-copyright">© 2019 Z3M PTE LTD. All rights reserved.</div>
        </div>
    </footer>
    </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
.icons{
    padding-right: 30px
}

.mapouter{
    text-align:left;
}

.gmap_canvas {
    padding-top: 50px;
    overflow:hidden;
    background:none!important;
}

h5{
    margin-top:0; 
    padding-top:50px;
    color:white
}
hr{
  opacity: .3;
}

.contact-button-text:hover{
  text-decoration: none
}

.footer-background{
  background-color: #101E2B;

}

.footer-backgroundResponsive{
  background-color: #101E2B;

}
.footer {
  width: 80%;
  margin: auto;
}
.footer-main {
  margin-bottom: 40px;
}

.footer_row {
  flex-wrap: wrap;
  display: flex;
  min-width: 100%;
  flex: 0 0 100%;
  display: flex;
  margin: 0;
}

.footer-bottom {
  margin-top: 18px;
}

.footer_about {
  margin-right: 30px;
  display: block;
  color:white;
}

.footer_services {
  color:white

}
.footer-serv-list{
    list-style-type: none;
    padding: 0;
}

.footer_connect {
    margin-left: 10px;
  padding: 0 15px
}

.footer_loc {
  padding-left: 5px
}

.footer_contact {
    margin:0;
  color:white
}

.footer-copyright {
  opacity: .6;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  color: white;
  padding: 10px
}

.footer-backgroundResponsive{
  display: none;
}

@media screen and  (max-width:1280px) {
.footer-background{
  display: none;
}

.footer-backgroundResponsive{
  display: inline-block;
}
}
</style>
