// App.vue

<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default{
  
}
</script>

<style>
html, body {
  font-family: 'Roboto', sans-serif;
}

#app {
  font-family: 'Roboto', sans-serif;
}
</style>
